.header {
  transition-timing-function: ease-in;
  transition: all 0.5s;
  opacity: 0.9;
  z-index: 1;
  background-color: inherit;

  &--float {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
  }

  &__logo {
    margin-top: -5px;
    height: 40px;
    object-fit: contain;
  }

  &__avatar {
    width: 30px;
    object-fit: contain;
  }

  &__name {
    font-weight: bolder;
  }
}
